
@model RestaurantMenu.Models.Classes.BlogComment
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Foodies| Blog</title>
    <!-- google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
          rel="stylesheet">
    <!-- //google-fonts -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="~/blogtemp/asset/css/style.css">
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />

</head>

<body>
    <br />
    <br />
    <br />
    <br />

    <main>
        <div class="container ">
            <div class="row ">
                @foreach (var blog in Model.Value1)
                {


                    <div class="col-md-8 mt-3">
                        <div class=" card mb-5">
                            <img src="/Image/@blog.BlogImg" class="w-richtext" alt=" ">

                            <div class="card-body">
                                <h4 class="card-title display-4">@blog.Title</h4>
                                <p class="card-text text-muted">
                                    @blog.Explation
                                </p>


                            </div>
                        </div>
                    </div>
                }
                <div class="col-md-4">
                    <!--Categories Button Start-->
                    <div class="card mt-4">
                        @Html.Action("BlogList", "Blog")

                    </div>
                    <!--Categories Button End-->
                    <!--Tags Start-->
                    <div class="card mt-4">
                        <div class="card-shadow">
                            <div class="card-header">
                                <h5>Tags</h5>
                            </div>
                            <div class="card-body item">
                                <div class="card-tags">
                                    <ul>
                                        <li><a href="#">Technology </a></li>
                                        <li><a href="#">Food</a></li>
                                        <li><a href="#">Animals</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Places to visit</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Tags End-->

                </div>
            </div>
        </div>
        <div class="container mt-2">
            <div class="row">
                <div class="col-md-8">
                    <div class="headings d-flex justify-content-between align-items-center mb-3">
                        <h3 style="color: #0ABF53"><b>COMMENTS</b></h3>
                        <div class="">

                        </div>
                    </div>
                    @foreach (var comment in Model.Value2)
                    {
                        <div class="card p-3 mt-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="user d-flex flex-row align-items-center">
                                    <span>
                                        <small class="font-weight-bold" style="color:#0ABF53">@comment.UserName</small>
                                        <small class="font-weight-bold">@comment.Comment</small>
                                    </span>
                                </div>
                                <small>@comment.Date.ToString("dd.MM.yyyy")</small>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                            </div>

                        </div>
                    }
                </div>

                @Html.Action("WriteComment", "Blog")
            </div>

        </div>
    </main>

    <!-- Js scripts -->
    <hr />
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- //move top -->
    <!-- common jquery plugin -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <!-- //common jquery plugin -->
    <!-- theme switch js (light and dark)-->
    <script src="~/Food Menu/Foodies-Starter/assets/js/theme-change.js"></script>
    <script>
        function autoType(elementClass, typingSpeed) {
            var thhis = $(elementClass);
            thhis.css({
                "position": "relative",
                "display": "inline-block"
            });
            thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
            thhis = thhis.find(".text-js");
            var text = thhis.text().trim().split('');
            var amntOfChars = text.length;
            var newString = "";
            thhis.text("|");
            setTimeout(function () {
                thhis.css("opacity", 1);
                thhis.prev().removeAttr("style");
                thhis.text("");
                for (var i = 0; i < amntOfChars; i++) {
                    (function (i, char) {
                        setTimeout(function () {
                            newString += char;
                            thhis.text(newString);
                        }, i * typingSpeed);
                    })(i + 1, text[i]);
                }
            }, 1500);
        }

        $(document).ready(function () {
            // Now to start autoTyping just call the autoType function with the
            // class of outer div
            // The second paramter is the speed between each letter is typed.
            autoType(".type-js", 200);
        });
    </script>
    <!-- //theme switch js (light and dark)-->
    <!-- magnific popup -->
    <script src="~/Food Menu/Foodies-Starter/assets/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!-- //MENU-JS -->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->
    <!--bootstrap-->
    <script src="~/Food Menu/Foodies-Starter/assets/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->
    <!-- //Js scripts -->

</body>
</html>
