@using RestaurantMenu.Models.Classes
@model List<NewMember>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">

    <tr>

        <th>Member Id</th>
        <th>Member Name</th>
        <th>Member Surname</th>
        <th>Member City</th>
        <th>Member Password</th>
        <th>Delete</th>
        <th>Update</th>

    </tr>
    @foreach (var member in Model)
    {
        <tr>
            <td>@member.MemberId</td>
            <td>@member.MemberName</td>
            <td>@member.MemberSurname</td>
            <td>@member.MemberCity</td>
            <td>@member.MemberPassword</td>
            <td><a href="/NewUser/DeleteUser/@member.MemberId" class="btn btn-danger">Delete</a></td>
            <td><a href="/NewUser/MakeUser/@member.MemberId" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>

<a href="/NewUser/AddUser" class="btn btn-primary">ADD NEW USER</a>

