@model RestaurantMenu.Models.Classes.NewMember

@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Eat</h2>

<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.MemberName)
    @Html.TextBoxFor(x => x.MemberName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.MemberSurname)
    @Html.TextBoxFor(x => x.MemberSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.MemberMail)
    @Html.TextBoxFor(x => x.MemberMail, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.MemberCity)
    @Html.TextBoxFor(x => x.MemberCity, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">SAVE</button>

</form>